---

- name: Remove install directory
  become: true
  ansible.builtin.file:
    path: "{{ blender_install_path }}"
    state: absent

- name: Remove symlink
  become: true
  when: set_default_version
  ansible.builtin.file:
    path: "{{ user_symlink_path }}/blender"
    state: absent

- name: Remove launcher file
  become: true
  ansible.builtin.file:
    path: "{{ desktop_launcher_path }}/blender.desktop"
    state: absent

- name: Ensure blender skel directory and venv are removed
  become: true
  ansible.builtin.file:
    path:
      - "{{ blender_skel_dir }}"
      - "{{ blender_venv_path }}"
    state: absent

...
