---

- name: Update apt package cache
  become: true
  when: ansible_facts.os_family == "Debian"
  ansible.builtin.apt:
    update_cache: true

- name: Install dependencies
  become: true
  loop: "{{ blender_dependencies[ansible_facts.os_family] }}"
  ansible.builtin.package:
    name: "{{ item }}"
    state: present

- name: Download blender tar-ball
  become: true
  ansible.builtin.get_url:
    url: "{{ blender_source_url }}"
    dest: "{{ blender_download_path }}"
    mode: "0644"

- name: Create destination directory
  become: true
  ansible.builtin.file:
    path: "{{ blender_install_path }}"
    state: directory
    mode: '0755'

- name: Ensure unarchive dependencies are installed
  become: true
  loop: "{{ unarchive_dependencies[ansible_facts.os_family] }}"
  ansible.builtin.package:
    name: "{{ item }}"
    state: present

- name: Extract tar-ball
  become: true
  ansible.builtin.unarchive:
    src: "{{ blender_download_path }}"
    dest: "{{ blender_install_path }}"
    remote_src: true
    extra_opts:
      - "--strip-components=1"

- name: Cleanup tar-ball
  become: true
  ansible.builtin.file:
    path: "{{ blender_download_path }}"
    state: absent

- name: Copy launcher file
  become: true
  ansible.builtin.copy:
    src: "{{ blender_install_path }}/blender.desktop"
    dest: "{{ desktop_launcher_path }}/blender.desktop"
    remote_src: true
    mode: "0644"

...
