---

- name: Gather facts
  ansible.builtin.setup:

- name: Verify blender version
  when: blender_source_url != blender_mirror_src_url
  ansible.builtin.assert:
    that:
      - "'blender-' ~ blender_version_long ~ '-linux' in blender_source_url"
    fail_msg: |
      Failed to find requested version 'blender-{{ blender_version_long }}-linux' in {{ blender_source_url }}.

      Is this the intended source?
    quiet: true

- name: Check for blender install
  ansible.builtin.stat:
    path: "{{ blender_install_path }}"
  register: blender_path

- name: Install blender
  when: not blender_path.stat.exists
  ansible.builtin.include_tasks:
    file: install.yml

- name: Create symlink to executable
  become: true
  when: set_default_version
  ansible.builtin.file:
    src: "{{ blender_install_path }}/blender"
    dest: "{{ user_symlink_path }}/blender"
    state: link
    force: true

- name: Check for GPU backend libraries
  loop: "{{ cycles_gpu_backend }}"
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      ldconfig -p | grep -q {{ item.lib }}
  args:
    executable: /bin/bash
  register: gpu_backend_check
  failed_when: gpu_backend_check.rc not in [0, 1]
  changed_when: false

- name: Determine best GPU backend
  ansible.builtin.set_fact:
    cycles_compute_device: "{{ (cycles_gpu_backend | zip(gpu_backend_check.results) | selectattr('1.rc', 'equalto', 0) | map('first') | first).name | default('NONE') }}"

- name: Configure blender
  when: blender_include_preferences
  ansible.builtin.include_tasks:
    file: preferences.yml

- name: Setup blender dev env
  when: blender_pipeline_dev
  ansible.builtin.include_tasks:
    file: development_setup.yml

...
