---

- name: Gather package facts
  ansible.builtin.package_facts:

- name: Test installed dependencies
  loop: "{{ blender_dependencies[ansible_facts.os_family] }}"
  ansible.builtin.assert:
    that: item in ansible_facts.packages
    fail_msg: "Failed to find package {{ item }} in installed packages"
    quiet: true

- name: Get blender install
  ansible.builtin.stat:
    path: "{{ blender_install_path }}"
  register: blender_path

- name: Test install path
  ansible.builtin.assert:
    that:
      - blender_path.stat.isdir
    quiet: true

- name: Check if blender is available
  ansible.builtin.command:
    cmd: "blender --version"
  register: blender_command
  changed_when: false

- name: Test blender command
  ansible.builtin.assert:
    that:
      - blender_command.rc == 0
    fail_msg: "Blender command failed"
    quiet: true

- name: Get blender tar-ball
  ansible.builtin.stat:
    path: "{{ blender_download_path }}"
  register: blender_tar_ball

- name: Test tar-ball removed
  ansible.builtin.assert:
    that:
      - not blender_tar_ball.stat.exists
    fail_msg: "Blender tar-ball was not removed"
    quiet: true

- name: Get blender symlink
  ansible.builtin.stat:
    path: "{{ user_symlink_path }}/blender"
  register: blender_symlink

- name: Test symlink
  ansible.builtin.assert:
    that:
      - blender_symlink.stat.exists
      - blender_symlink.stat.islnk
      - blender_symlink.stat.lnk_source == blender_install_path + '/blender'
    fail_msg: "Blender symlink stats are not as expected, found {{ blender_symlink.stat.lnk_source }}"
    quiet: true

- name: Get blender desktop launcher
  ansible.builtin.stat:
    path: "{{ desktop_launcher_path }}/blender.desktop"
  register: blender_desktop

- name: Test desktop launcher
  ansible.builtin.assert:
    that:
      - blender_desktop.stat.exists
    fail_msg: "Blender desktop file does not exist"
    quiet: true

- name: Test development setup
  when: blender_pipeline_dev
  block:
    - name: Check if blender python virtual environment exists
      become: true
      ansible.builtin.stat:
        path: "{{ blender_venv_path }}"
      register: venv_stat

    - name: Assert that virtual environment directory exists
      ansible.builtin.assert:
        that:
          - venv_stat.stat.exists
          - venv_stat.stat.isdir
        fail_msg: "Virtual environment directory does not exist at {{ blender_venv_path }}"
        quiet: true

    - name: Get list of installed Python packages in the venv
      become: true
      ansible.builtin.command:
        cmd: "{{ blender_venv_path }}/bin/pip list --format=json"
      register: pip_list
      changed_when: false

    - name: Parse installed packages
      ansible.builtin.set_fact:
        installed_packages: "{{ pip_list.stdout | from_json | map(attribute='name') | list }}"

    - name: Assert expected Python packages are installed
      loop: "{{ blender_python_modules }}"
      ansible.builtin.assert:
        that:
          - (item.split('==')[0]) in installed_packages
        fail_msg: "Failed to find python module {{ item }} in environment '{{ blender_venv_path }}'"
        quiet: true

...
